
.tolike{
	width: 1190px;
	height: 430px;
	margin: 20px auto 10px;
}
.tolike h3{
    height: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'microsoft yahei';
}
.tolike .side{
	width: 381px;
	height: 379px;
	display: inline-block;
	float: left;
}
.tolike .side a{
	display: inline-block;
	width:381px;
	height: 190px;
	float: left;
}
.tolike .side a img{
	border:1px solid #ccc;
	display: block;
}
.tolike .side a img.enter{
	border-top: 0 none;
}
.tolike .main-option{
	width: 797px;
	height: 397px;
	float: right;
	display: inline-block;
}
.tolike .main-option li{
	width: 198px;
	height: 188px;
	border:1px solid #ccc;
	float: left;
	list-style: none;
	margin-left: -1px;
	margin-top: -1px;
}
.tolike .main-option li:hover{
	box-shadow: 0 2px 10px #999;
	z-index: 2;
	position: relative;
}